/*이벤트 배너*/
#carousel {
	position: relative;
	height: 600px;
	top: 50%;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#carousel div {
	position: absolute;
	transition: transform 0s, left 1s, opacity 1s, z-index 0s;
	opacity: 1;
}
#carousel div img {
	width: 100%;
	transition: width 1s;
	border-radius: 20px;
}
#carousel div.hideLeft {
	left: 0%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
	width: 200px;
}
#carousel div.hideRight {
	left: 100%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
	width: 200px;
}
#carousel div.prev {
	z-index: 5;
	left: 30%;
	width: 42%;
	top: 9%;
	transform: translateX(-45%);
}
#carousel div.prevLeftSecond {
	z-index: 4;
	width: 33%;
	top: 15%;
	transform: translateX(-10%);
}
#carousel div.selected {
	z-index: 10;
	width: 50%;
	left: 50%;
	transform: translateX(-50%);
}
#carousel div.next {
	z-index: 5;
	left: 64%;
	width: 42%;
	top: 9%;
	transform: translateX(-40%);
}
#carousel div.nextRightSecond {
	z-index: 4;
	left: 80%;
	width: 33%;
	top: 15%;
	transform: translateX(-35%);
}
#carousel .btn_evt_bnr {
	position: absolute;
	width: 86px;
	height: 86px;
	top: 33%;
	z-index: 999;
	border: none;
}
#cls_evt_left{
	left: 15%;
	background: url("/static/img/button/btn_left.png");
}
#cls_evt_left:hover{
	background: url("/static/img/button/btn_left_on.png");
}
#cls_evt_right{
	left: 80%;
	background: url("/static/img/button/btn_right.png");
}
#cls_evt_right:hover{
	background: url("/static/img/button/btn_right_on.png");
	transform: scale(1.0);
}
/* 이벤트 배너 */
